*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    background-color: #12A1BB;
    height: 100vh;
    color: white;
}

main .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

main .flex .textos-btn .btns{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

main .flex .textos-btn .btns #btn1{
    background-color: #ffffff;
    color: #12A1BB;
    transition: .2s;
}

main .flex .textos-btn .btns #btn1:hover{
    background-color: #12A1BB;
    color: white;
}

main .flex .textos-btn .btns button{
    padding: 10px;
    border: 1px solid white;
    box-shadow: inset 0 0 2px #043942;
    background-color: #12A1BB;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    transition: .2s;
}

main .flex .textos-btn .btns button:hover{
    background-color: #ffffff;
    color: #12A1BB;
    transform: scale(1.05);
}

main .flex .textos-btn h1{
    font-size: 60px;
}

main .flex .textos-btn h2{
    text-align: center;
}

main .flex .fotos #ftboneco{
    height: 438px;
    width: 400px;
}

main .flex .fotos #ftrelogio{
    height: 130px;
    width: 130px;
    margin-bottom: 245px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

footer .sobre{
    text-align: center;
    padding-bottom: 60px;
}

footer .sobre h3{
    font-size: 22px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.856);
}

footer .sobre .seta button{
    background-color: transparent;
    border: none;
}

footer .sobre .seta button img{
    transition: .2s;
}

footer .sobre .seta button img:hover{
    transform: scale(1.2);
}

footer .sobre .sobrenos {
    text-align: justify;
    padding: 5px 20px;
    display: none;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 20px;
    width: 390px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #0a738652;
}




@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}



@media screen and (max-width:500px){


   main .flex{
    flex-direction: column;
    height: 90vh;
   }

   main .flex .textos-btn .btns{
    margin-bottom: 40px;
   }
    
   main .flex .textos-btn .btns button{
        padding: 3px;
        height: 50px;
        width: 150px;
        margin: 0 17px;  
        font-size: 14px;  
    }

    main .flex .textos-btn h1{
        font-size: 35px;
        text-align: center;
    }

    main .flex .textos-btn h2{
        font-size: 20px;
        font-weight: 200;
    }

    main .flex .fotos{
        align-items: center;
        position: relative;
    }

    main .flex .fotos #ftboneco{
        height: 306px;
        width: 280px;
    }

    main .flex .fotos #ftrelogio{
        height: 75px;
        width: 75px;
        filter: drop-shadow(0px 167px 20px rgba(0, 0, 0, 0.178));
        position: absolute;
        margin-bottom: 0px;
        top:70px;
        right: 20px;
    }
}